---
---
@charset "utf-8";

@import "../_sass/colors";
@import "../_sass/fonts";
@import "../_sass/bootstrap_overrides.scss";
@import "../_sass/background";
@import "../_sass/footer";
@import "../_sass/navbar";
@import "../_sass/whoami.scss";
@import "../_sass/blog.scss";
@import "../_sass/projects.scss";

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  background: $COLOR_LIGHT_GRAY;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Oswald, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 300;
  color: #8C8C8C;
}

h1 {
  font-size: 48px;
  padding: 0 0 1rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid $COLOR_BORDER;
}

h2 {
  font-size: 40px;
}

hr { border-color: darken($COLOR_LIGHT_GRAY, 20%); margin: 20px; }

img.logo { height: 70vh; }

.wrap { min-height: 100%; margin-bottom: -100px; }
.wrap:after { content: ""; display: block; height: 100px; }

.container {
  background-color: white;
  -webkit-box-shadow: 0 0 20px 0 rgba($COLOR_GRAY, 0.1);
  -moz-box-shadow: 0 0 20px 0 rgba($COLOR_GRAY, 0.1);
  box-shadow: 0 0 20px 0 rgba($COLOR_GRAY, 0.1);
  margin-top: -20px;
  margin-bottom: 20px;
  padding: 3rem 20px 20px 20px;
}

@media (min-width: 768px) {
  .container { margin-top: 0; }
}
