@font-face {
    font-family: MagmaWave;
    src: url(../fonts/magmawave.otf);
}

html { height: 100%; }

body {
    background-color: #F5F5FA;
    background: -moz-radial-gradient(center, ellipse cover, #FAFAFF 0%, #EAEAF5 75%, #C0C0C5 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #FAFAFF 0%,#EAEAF5 75%, #C0C0C5 100%);
    background: radial-gradient(ellipse at center, #FAFAFF 0%,#EAEAF5 75%, #C0C0C5 100%);
}

h1 {
    font-family: MagmaWave;
    color: #8C8C8C;
    font-size: 6vh;
    margin: 4vh 0;
}

img.logo {
    height: 80vh;
}
