<header>
    <nav class="navbar navbar-expand-md navbar-dark Navbar__navbar Background--circuit-board shadow-sm">
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarToggler"
            aria-controls="navbarToggler"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand Navbar__brand" href="/blog">
            <img
                src="/images/logo_simples.svg"
                alt="{{ site.title }}"
                class="d-inline-block align-top"
                loading="lazy"
            />
            <span>{{ site.title }}</span>
        </a>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 Navbar__menu">
                {% for item in site.navbar.items %}
                <li class="nav-item {% if item.url == page.url %}active{% endif %}">
                    <a class="nav-link Navbar__link" href="{{ item.url }}">
                        <i class="fa fa-newspaper-o"></i><span>{{ item.title }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>
