div.img-profile {
  text-align: center;
  img {
    border: 5px solid darken($COLOR_LIGHT_GRAY, 10%);
    margin: 4vh 0;
    display: inline-block;
  }
}

dl.dl-horizontal {
  margin-top: 4vh;
  border-left: 1px solid darken($COLOR_LIGHT_GRAY, 20%);
  dt {
    text-align: left;
    height: 50px;
    padding: 0;
    vertical-align: middle;
    width: 180px;
    span {
      display: inline-block;
      float: left;
      height: 50px;
      line-height: 50px;
    }
    i {
      color: $COLOR_SECONDARY;
      float: left;
      height: 50px;
      line-height: 50px;
      padding: 0 20px;
      text-align: center;
      width: 70px;
    }
    i.fa-facebook-square { color: #3D5A99; }
    i.fa-github { color: #222222; }
    i.fa-twitter { color: #52A0D0; }
    i.fa-linkedin-square { color: #1B86BC; }
    i.fa-stack-overflow {
      background: #F48024;
      background: -webkit-linear-gradient(#F48024, #F48024 50%, #818185 80%, #818185);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  dd {
    line-height: 50px;
    margin-left: 190px;
  }
}

h4.about-technologies {
  text-align: center;
  font-weight: bold;
}

div.about-technologies {
  margin-top: 40px;
  text-align: center;
  div { padding: 0 5px; }
  img {
    max-width: 100px;
    max-height: 100px;
    margin: 10px 0;
  }
}

div.profile-description p {
  font-size: 1.2em;
}

@media (max-width: 767px) {
  dl.dl-horizontal {
    border-left: none;
    border-top: 1px solid darken($COLOR_LIGHT_GRAY, 20%);
    padding-top: 30px;
    dt {
      text-align: left;
      height: 30px;
      padding: 0;
      vertical-align: middle;
      width: 180px;
      span { height: 30px; line-height: 30px; }
      i { position: relative; top: 5px; }
    }
    dd {
      display: block;
      line-height: 30px;
      margin-left: 70px;
      margin-bottom: 20px;
    }
  }
}