$COLOR_PRIMARY: #4499FF;
$COLOR_SECONDARY: #FF9900;
$COLOR_SECONDARY_TEXT: darken($COLOR_SECONDARY, 5%);
$COLOR_LIGHT_GRAY: #F9FAFB;
$COLOR_GRAY: #334455;
$COLOR_MEDIUM_GRAY: lighten($COLOR_GRAY, 30%);
