.Navbar__navbar {
  font-family: Oswald, Helvetica Neue, Helvetica, sans-serif;
  padding: 0 1rem;
}

.Navbar__brand {
  align-items: center;
  display: flex;
  font-family: MagmaWave, Oswald, Helvetica Neue, Helvetica, sans-serif;
  img {
    height: 2rem;
    width: 2rem;
  }
  span {
    color: rgba($COLOR_LIGHT_GRAY, 0.8);
    margin-left: 0.5rem;
  }
}

.Navbar__menu {
  margin: 0 auto;
  text-align: center;
}

.Navbar__menu > li.nav-item {
  font-weight: 300;
  &.active {
    background-color: rgba($COLOR_PRIMARY, 0.2);
  }
}

.Navbar__menu li.nav-item a.Navbar__link {
  color: rgba($COLOR_LIGHT_GRAY, 0.8);
  &:hover {
    background-color: rgba($COLOR_PRIMARY, 0.25);
  }
  i {
    margin-right: 1rem;
    text-align: center;
    width: 2rem;
  }
}

@media (max-width: 767px) {
  .Navbar__navbar {
    padding: 1rem;
  }

  .Navbar__menu {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .Navbar__brand {
    padding: 0;
    position: relative;

    img {
      background-color: $COLOR_LIGHT_GRAY;
      border: 0.5rem solid $COLOR_GRAY;
      border-radius: 50%;
      height: 8rem;
      left: -1rem;
      padding: 0.5rem;
      position: absolute;
      top: -2.5rem;
      width: 8rem;
    }
    span {
      display: none;
    }
  }

  .Navbar__menu > li.nav-item {
    font-size: 1.5rem;
    i { display: none; }
  }

  .Navbar__menu li.nav-item a.Navbar__link {
    padding: 1.5rem;
  }
}