---
layout: default
---
<article class="Post" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 itemprop="name headline">
            {{ page.title }}
        </h1>

        <div class="Post__tags mb-3">
            {% for tag in page.tags %}
            <span class="badge badge-pill badge-primary">
                {{ tag }}
            </span>
            {% endfor %}
        </div>

        <p class="text-muted mb-4">
            <time
                datetime="{{ page.date | date_to_xmlschema }}"
                itemprop="datePublished"
                class="text-secondary"
            >
                {{ page.date | date: "%b %-d, %Y" }}
            </time>
            {% if page.author %}
            •
        <span
            itemprop="author"
            itemscope
            itemtype="http://schema.org/Person"
            class="text-secondary"
        >
            <span itemprop="name">{{ page.author }}</span>
        </span>
            {% endif %}
        </p>
    </header>

    <div class="Post__content" itemprop="articleBody">
        {{ content }}
    </div>
</article>
